<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-devour="{{devour}}">
		{{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-bur" data-id="{{this.id}}">DELETE!</button>
</li>
